<h1>The hobbit Cms</h1>

<nav>
	<ul>
		<li>
			<%= link_to 'Weapons', weapons_path %>
		</li>
		<li>
			<%= link_to 'Spells', spells_path %>
		</li>
		<li>
			<%= link_to 'Character types', character_types_path %>
		</li>
		<li>
			<%= link_to 'Characters', characters_path %>
		</li>
	</ul>
</nav>
