<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @character_type.name %>
</p>

<%= link_to 'Edit', edit_character_type_path(@character_type) %> |
<%= link_to 'Back', character_types_path %>
